#contact

	a
		font-size 1em
		color #555

		&:hover
			color $header-color

		&.link
			display flex
			margin 5px 0
			text-decoration underline

			span
				display flex
				padding-right 10px

				svg
					display inline-block
					width 1.3em
					height 1.3em

			&.first
				margin-top 30px
