#contact
	border-top 2px solid #777
	margin-bottom: 0

	.links
		padding: 5vh 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		a.link
			display: flex;
			text-decoration: none;
			align-items: center;
			margin: 20px 10px;
			filter: saturate(0)
			transition: 0.1s all ease-in-out

			img
				height: 25px;
				margin-right: 10px;

			&:hover
				filter: none
