#design

	.grid
		flex-flow wrap
		justify-content space-around
		align-items flex-start
		margin 0 -10px

	.card
		border-radius 7px
		margin 10px
		border 2px solid #e6e6e6
		padding 10px
		background #fbfbfb
		width 100%
		max-width 250px

		h1
			font-size 1.4rem
			color #333
			margin-bottom 10px

		p
			font-size 1.1rem
			color #444
			line-height 1.5

		img
			width 100%
			border 2px solid #e6e6e6
			border-radius 7px
			margin-bottom 10px

		a
			margin-top 10px
			color #333
			display inline-block
			text-decoration none
			border-bottom 1px solid
			padding-bottom 2px
