div.container

	include ./navbar.pug

	section#about
		include ./sections/about.pug

	section#projects
		include ./sections/projects.pug

	section#experience
		include ./sections/experience.pug

	section#contact
		include ./sections/contact.pug
