title Mehul Agarwal
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134521048-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-134521048-1');
</script>

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="description" content="Mehul is a 16-year-old researcher, entrepreneur and developer.")
meta(name="author" content="Mehul Agarwal")

meta(name="msapplication-TileColor", content="#00a300")
meta(name="msapplication-config", content="/assets/img/favicon/browserconfig.xml")
meta(name="theme-color", content="#2EC57D")
<meta name="google-site-verification" content="0jsjuIQihw6-r7iZLkiWlTBVbZbybkVbJLJeHHGxhmU" />
link(rel="stylesheet" href="/assets/css/index.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass")
link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/assets/img/favicon/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/assets/img/favicon/favicon-16x16.png")
link(rel="manifest", href="/assets/img/favicon/site.webmanifest")
link(rel="mask-icon", href="/assets/img/favicon/safari-pinned-tab.svg", color="#5bbad5")
link(rel="shortcut icon", href="/assets/img/favicon/favicon.ico")

script(src="/assets/js/index.js" defer)
