.navbar.flex

	a(href="/")
		img(src="/assets/img/logo.svg")

	.links.flex

		a(href="#about") About
		a(href="#experience") Experience
		a(href="#projects") Projects
		a(href="#design") Design
		a(href="#contact") Contact
		a(href="/resume.pdf") Resume
