.navbar.flex

	.links.flex
		a(href="/")
			img(src="/assets/img/logo.svg")
		a(href="#about") About
		a(href="#projects") Projects
		a(href="#experience") Experience
		a(href="#design") Design
		a(href="#contact") Contact
		a(href="/resume.pdf") Resume
