.navbar.flex

	.links.flex
		a(href="/")
			img(src="/assets/img/ml_logo_light.svg")
		button
			img(src="/assets/img/moon.svg")
		a.hashlink(href="#about") About
		a.hashlink(href="#projects") Projects
		a.hashlink(href="#experience") Experience
		a.hashlink(href="#design") Design
		a.hashlink(href="#contact") Contact
		a(href="/assets/docs/MEHUL_RESUME.pdf" target="_blank") Resume
