.navbar
	width 90%
	max-width 850px
	border-top 5px solid $header-color
	justify-content space-between
	padding 10px 0
	overflow-x auto
	position fixed
	background rgba(255, 255, 255, 0.9)
	top 0
	z-index 1

	img
		height 40px
		width 40px

	.links
		width 100%
		justify-content flex-start

		a
			color #666
			flex 1
			text-decoration none
			text-align center
			padding 5px 10px

			&:hover
				color black
