.navbar
	width 90%
	max-width 850px
	border-top 5px solid
	justify-content space-between
	padding 10px 0
	overflow-x auto
	position fixed
	top 0
	z-index 1

	.links
		width 100%
		justify-content flex-start

		a
			flex 1
			text-decoration none
			text-align center
			padding 5px 10px

			img
				height 40px
				width 40px

	button
		background: none
		border: none
		cursor: pointer
		opacity: 0.5
		padding: 5px 10px

		&:hover
			opacity: 1

		img
			height 25px
			width 25px
