.navbar
	width 100%
	border-top 5px solid $header-color
	justify-content space-between
	padding 10px 0
	overflow-x scroll

	img
		height 40px
		width 40px

	.links
		width 100%
		justify-content flex-start

		a
			color #666
			flex 1
			text-decoration none
			text-align center
			padding 5px 10px

			&:hover
				color black
