doctype html

html(lang='en')

	head

		include ./includes/head.pug

	body.light

		include ./includes/body.pug

script(async src="https://www.googletagmanager.com/gtag/js?id=UA-134521048-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-134521048-1');
