doctype html

html(lang='en')
	link(rel='alternate' hreflang='en' href='https://mehul.al')
	link(rel='alternate' hreflang='hi' href='https://hi.mehul.al')
	link(rel='alternate' hreflang='zh' href='https://zh.mehul.al')
	link(rel='alternate' hreflang='es' href='https://es.mehul.al')
	link(rel='alternate' hreflang='fr' href='https://fr.mehul.al')
	link(rel='alternate' hreflang='ja' href='https://ja.mehul.al')
	script(type='text/javascript' src='https://cdn.weglot.com/weglot.min.js')
	script.
	Weglot.initialize({
	api_key: 'wg_001f67901fbf2cfc071612367ec0a76d3'
	});

	head

		include ./includes/head.pug

	body.light

		include ./includes/body.pug

script(async src="https://www.googletagmanager.com/gtag/js?id=UA-134521048-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-134521048-1');
