.wrapper.flex

	.gameboy

		img(src="/assets/img/gameboy.png")

	.info

		h1 Mehul Agarwal

		p Hi! I'm an 18-year-old researcher, entrepreneur and developer. I know that's considered bragging, but since you're here, let me tell you more about myself.
		p I'm a sophomore in the School of Computer Science, Carnegie Mellon University. I'm also the co-founder of the facebook meme group Zoom Memes for Self Quaranteens with over 700,000 members.
		p My research interests include Blockchain and Machine Learning (Computer Vision and Natural Language Processing). When I’m not stumped with homework, I also dabble in standup comedy and graphic designer (I'm only bad at one of them; you can guess which one)
