.wrapper.flex

	.gameboy

		img(src="/assets/img/gameboy.png")

	.info

		h1 Mehul Agarwal

		p Hi! I'm a 16-year-old researcher, entrepreneur and developer.
		p I am a highschool senior at Sanskriti School, New Delhi. When I’m not stumped with homework, I try to find the application of Frontier technologies for public good. My interests are primarily in Blockchain and Natural Language Processing, among other things.
		p When I get some time off, I also dabble in graphic designing.
