.wrapper.flex

	.gameboy

		img(src="/assets/img/3ds_light.png")

	.info

		h1 Mehul Agarwal

		p Hello! Welcome to my corner of the internet.
		p I'm a sophomore studying Computer Science at #[a(href="https://www.cmu.edu/" target = "_blank") Carnegie Mellon University]. I also co-founded the facebook meme group #[a(href="https://www.facebook.com/groups/zoommemes/" target = "_blank") #[i Zoom Memes for Self Quaranteens]] with over 700,000 members.
		p My research interests include Computer Vision, NLP and decentralized technologies. When I’m not stumped with homework, I try to find the nerdiest ways to prove that I'm cool. This website's one of them.
