.wrapper.flex

	.gameboy

		img(src="/assets/img/gameboy.png")

	.info

		h1 Mehul Agarwal

		p Hi! I'm an 18-year-old researcher and developer. I'm bragging, but since you're here, let me tell you more about myself.
		p I'm a sophomore studying Computer Science at #[a(href="https://www.cmu.edu/" target = "_blank") Carnegie Mellon University]. I also co-founded the facebook meme group #[a(href="https://www.facebook.com/groups/zoommemes/" target = "_blank") #[i Zoom Memes for Self Quaranteens]] with over 700,000 members.
		p My research interests include Machine Learning and Blockchain. When I’m not stumped with homework, I also dabble in standup comedy and graphic designer (You can guess the one I'm bad at ¯\_(ツ)_/¯ )
