.wrapper.flex

	.gameboy

		img(src="/assets/img/gameboy.png")

	.info

		h1 Mehul Agarwal

		p Hi! I'm a 17-year-old researcher, entrepreneur and developer.
		p I am a CS freshman at CMU. When I’m not stumped with homework, I try to find the application of Frontier technologies for public good.
		p My current interests include Blockchain and Natural Language Processing. When I get some time off, I also dabble in graphic designing.
