h1 Contact


p   Mail:
	a(href="mailto:mail@mehul.al" target = "_blank") mail@mehul.al


p   Github:
	a(href="https://github.com/agarwalml/" target = "_blank") agarwalml


p   Instagram:
	a(href="https://instagram.com/totallynotareptile/" target = "_blank") totallynotareptile
