.top-button
	button
		svg(width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg")
			circle(id="c1" cx="19" cy="19" r="18" fill="#4D4D4D" stroke="#4D4D4D" stroke-width="2")
			circle(id="c2" cx="19" cy="19" r="15" fill="#FFFFFF")
			path(id="arrow" d="M12 22L19 15L26 22" stroke="#4D4D4D" stroke-width="3")

.links
	a(href="mailto:mail@mehul.al" style="color: #D44638").link
		img(src="/assets/img/icons/ml.svg")
		| mail@mehul.al

	a(href="https://www.behance.net/agarwalml" style="color: #0156FE").link
		img(src="/assets/img/icons/be.svg")
		| Mehul Agarwal

	a(href="https://instagram.com/totallynotareptile" style="color: #C13584").link
		img(src="/assets/img/icons/ig.svg")
		| totallynotareptile

	a(href="https://www.facebook.com/agarwalml" style="color: #1877F2").link
		img(src="/assets/img/icons/fb.svg")
		| Mehul Agarwal

	a(href="https://github.com/agarwalml" style="color: #E94E32").link
		img(src="/assets/img/icons/gh.svg")
		| agarwalml
