.links
	a(href="mailto:mail@mehul.al" style="color: #D44638").link
		img(src="/assets/img/icons/ml.svg")
		| mail@mehul.al

	a(href="https://www.behance.net/agarwalml" style="color: #0156FE").link
		img(src="/assets/img/icons/be.svg")
		| Mehul Agarwal

	a(href="https://instagram.com/totallynotareptile" style="color: #C13584").link
		img(src="/assets/img/icons/ig.svg")
		| totallynotareptile

	a(href="https://www.facebook.com/agarwalml" style="color: #1877F2").link
		img(src="/assets/img/icons/fb.svg")
		| Mehul Agarwal

	a(href="https://github.com/agarwalml" style="color: #E94E32").link
		img(src="/assets/img/icons/gh.svg")
		| agarwalml
