h1 Design

.grid.flex

	.card.design-card.flex
		img(src="/assets/img/design_pb.png")
		.info
			h1 ProjectBeta
			p Event banners, backgrounds and graphics made for ProjectBeta 2.0, the IT Symposium of Sanskriti School.
		a(href="https://www.behance.net/gallery/69363433/ProjectBeta-2018" target = "_blank") Behance

	.card.design-card.flex
		img(src="/assets/img/design_sans.png")
		.info
			h1 Clubs of Sanskriti
			p Some logos I made for the clubs of Sanskriti School, a public service oriented, non-profit organization.
		a(href="https://www.behance.net/gallery/69661467/LOGOFOLIO-The-Clubs-of-Sanskriti-(2018)" target = "_blank") Behance

	.card.design-card.flex
		img(src="/assets/img/design_gb.png")
		.info
			h1 Isometric Gameboy
			p Isometric designs featuring the Nintendo Gameboy Advanced console.
		a(href="#" target = "_blank") Behance

	.card.design-card.flex
		img(src="/assets/img/design_spa.png")
		.info
			h1 Spirit Animals
			p Merchandise concept based on the concept of Spirit Animals
		a(href="#" target = "_blank") Behance
