h1 Design

.grid.flex

	.card.design-card.flex
		img(src="/assets/img/design_pb.svg")
		.info
			h1 ProjectBeta
			p Event banners, backgrounds and graphics made for ProjectBeta 2.0, the IT Symposium of Sanskriti School.
		a(href="https://www.behance.net/gallery/69363433/ProjectBeta-2018") Behance

	.card.design-card.flex
		img(src="http://lorempixel.com/300/200/sports")
		.info
			h1 Clubs of Sanskriti
			p Some logos I made for the clubs of Sanskriti School, a public service oriented, non-profit organization.
		a(href="https://www.behance.net/gallery/69661467/LOGOFOLIO-The-Clubs-of-Sanskriti-(2018)") Behance

	.card.design-card.flex
		img(src="http://lorempixel.com/300/200/sports")
		.info
			h1 Lorem Ipsum
			p Cupidatat anim ea ad aliquip.
		a(href="#") Behance

	.card.design-card.flex
		img(src="http://lorempixel.com/300/200/sports")
		.info
			h1 Lorem Ipsum
			p Consequat quis culpa Lorem minim laborum non commodo fugiat proident laborum id occaecat.
		a(href="#") Behance
