h1 Design

.grid.flex

	.card
		img(src="http://lorempixel.com/300/200/sports")
		h1 Lorem Ipsum
		p Ex ex duis minim aliqua veniam sint qui tempor eiusmod est magna voluptate eu.
		a(href="#") External Link

	.card
		img(src="http://lorempixel.com/300/200/sports")
		h1 Lorem Ipsum
		p Sit incididunt veniam elit sit qui veniam non enim proident adipisicing in incididunt in in.
		a(href="#") External Link

	.card
		img(src="http://lorempixel.com/300/200/sports")
		h1 Lorem Ipsum
		p Cupidatat anim ea ad aliquip.
		a(href="#") External Link

	.card
		img(src="http://lorempixel.com/300/200/sports")
		h1 Lorem Ipsum
		p Consequat quis culpa Lorem minim laborum non commodo fugiat proident laborum id occaecat.
		a(href="#") External Link
