h1 Experience

.card

	.header.flex

		.left-text

			h1 Intern
			h2 Center for Advanced Research in Imaging, Neuroscience & Genomics (CARING)
		.right-text

			p Summer 2020
			p New Delhi, India

	.main

		p Responsibilities include:

		ul
			li Developing in-browser text detection for medical images
			li Researching and building computer vision algorithms
.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccasa

		.right-text

			p 2018 - 2019
			p New Delhi, India

	.main

		p Responsibilities include:

		ul
			li Developing a B2B e-commerce portal for eyeglasses
			li Making assistive devices affordable and accessible to opticians esp. in rural areas

.card

	.header.flex

		.left-text

			h1 Intern
			h2 Unique Identification Authority of India

		.right-text

			p Summer 2017
			p New Delhi, India

	.main

		p Responsibilities included:

		ul
			li Understanding technology behind Aadhaar – India’s Biometric Identity for 1.2 billion citizens
			li Developing modules for the Aadhaar API and integrating Aadhaar Authentication into local businesses


.card

	.header.flex

		.left-text

			h1 Volunteer
			h2 India Research Center, Harvard T.H. Chan School of Public Health

		.right-text

			p Summer 2018
			p Mumbai, India

	.main

		p Responsibilities included:

		ul
			li Researching communication strategy and the use of ICT for ‘Jan Andolan’ (People’s Movement)
			li Implementing the National Nutrition Mission in the state of Maharashtra

.card

	.header.flex

		.left-text

			h1 Vice President
			h2 ProjectBeta, IT Club of Sanskriti School

		.right-text

			p 2016 - 2019
			p New Delhi, India

	.main

		ul
			li Organized inter-school IT Symposium ‘ProjectBeta 2.0’ in August 2018
			li Headed Design & Start-up Pitch Departments and led teams in inter-school IT events in Graphic Designing, Webdev & Programming


.card

	.header.flex

		.left-text

			h1 Volunteer
			h2 World Health Organization

		.right-text

			p Winter 2017
			p Geneva, Switzerland

	.main

		p Responsibilities included:

		ul
			li Creating a a name-based, real-time disease surveillance platform to monitor 33 epidemic-prone diseases for the Indian Government
			li Analyzing and developing prediction algorithms for early warning and identification of epidemics
