h1 Experience

.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccaso

		.right-text

			p February 2018 &mdash; Present
			p New Delhi

	.main

		p Responsibilities include:

		ul
			li Development
			li Market Research

.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccaso

		.right-text

			p February 2018 &mdash; Present
			p New Delhi

	.main

		p Responsibilities include:

		ul
			li Development
			li Market Research


.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccaso

		.right-text

			p February 2018 &mdash; Present
			p New Delhi

	.main

		p Responsibilities include:

		ul
			li Development
			li Market Research


.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccaso

		.right-text

			p February 2018 &mdash; Present
			p New Delhi

	.main

		p Responsibilities include:

		ul
			li Development
			li Market Research


.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccaso

		.right-text

			p February 2018 &mdash; Present
			p New Delhi

	.main

		p Responsibilities include:

		ul
			li Development
			li Market Research


.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccaso

		.right-text

			p February 2018 &mdash; Present
			p New Delhi

	.main

		p Responsibilities include:

		ul
			li Development
			li Market Research

