h1 Experience

.card

	.header.flex

		.left-text

			h1 Intern
			h2 Center for Advanced Research in Imaging, Neuroscience & Genomics (CARING)
		.right-text

			p June 2020 &mdash; August 2020
			p New Delhi, India

	.main

		p Responsibilities include:

		ul
			li Developing in-browser text detection for medical images
			li Researching and building computer vision algorithms
.card

	.header.flex

		.left-text

			h1 Co-Founder
			h2 Speccasa

		.right-text

			p February 2018 &mdash; Present
			p New Delhi, India

	.main

		p Responsibilities include:

		ul
			li Developing a B2B e-commerce portal for Eyeglasses
			li Making assistive devices affordable and accessible to opticians esp. in rural areas
			li Market Research & Analysis

.card

	.header.flex

		.left-text

			h1 Intern
			h2 Unique Identification Authority of India

		.right-text

			p June 2017 &mdash; July 2017
			p New Delhi, India

	.main

		p Responsibilities included:

		ul
			li Understanding technology behind Aadhaar – India’s Biometric Identity for 1.2 billion citizens
			li Developing modules for the Aadhaar API
			li Integrating businesses with Aadhaar Authentication


.card

	.header.flex

		.left-text

			h1 Volunteer
			h2 India Research Center, Harvard T.H. Chan School of Public Health

		.right-text

			p May 2018 &mdash; June 2018
			p Mumbai, India

	.main

		p Responsibilities included:

		ul
			li Researching communication strategy for ‘Jan Andolan’ (People’s Movement)
			li Implementing the National Nutrition Mission in the state of Maharashtra
			li Analyzing use of ICT for community involvement and empowerment through communication


.card

	.header.flex

		.left-text

			h1 Vice President
			h2 ProjectBeta, IT Club of Sanskriti School

		.right-text

			p October 2016 &mdash; Present
			p New Delhi, India

	.main

		ul
			li Organized inter-school IT Symposium ‘ProjectBeta 2.0’ in August 2018
			li Headed Design & Start-up Pitch Departments
			li Lead teams in inter-school IT events in Graphic Designing, Web Development & Programming


.card

	.header.flex

		.left-text

			h1 Volunteer
			h2 World Health Organization

		.right-text

			p December 2017 &mdash; January 2018
			p Geneva, Switzerland

	.main

		p Responsibilities included:

		ul
			li Creating a platform to monitor 33 epidemic-prone diseases for the Indian Government
			li Planning and capacity building for a name-based, real-time disease surveillance platform
			li Analyzing and developing prediction algorithms for early warning and identification of epidemics
