h1 Projects

.card

	.top.flex

		.info

			h1 Decentralizing Aadhaar, India's Identity Platform, using Blockchain
			p Independent Research on introducing a blockchain layer to Aadhaar Authentication to solve security and privacy issues. Aadhaar provides a unique biometric identity to 1.2 billion residents of India. This proposal aims to increase the integrity of Aadhaar by providing an immutable decentralized layer on top of the current architecture. The incentivization of this layer opens up opportunities for an Indian state-backed cryptocurrency while improving public trust in Aadhaar.

		.thumbnail
			//<a href="http://www.freepik.com">Designed by vectorpouch / Freepik</a>
			img(src="/assets/img/projects_blockchain.png")


	.bottom.flex

		a.tag(href="/assets/docs/blockchain_abstract.pdf" target="_blank") LONG ABSTRACT
		a.tag(href="/assets/docs/Blockchain Research Paper.pdf" target="_blank") PAPER

.card

	.top.flex

		.info

			h1 Natural Language Processing in the Indian Context
			p Research under NITI Aayog, the Indian govt. thinktank, and the International Innovation Corps, University of Chicago on development of Natural Language Processing (NLP) applications in 18 Indian Vernacular languages. The internal paper is being utilized to construct an Access Point Repository for Indian NLP applications for various use cases.

		.thumbnail

			img(src="/assets/img/projects_nlp.png")

	.bottom.flex

		a.tag(href="/assets/docs/NLP_abstract.pdf" target="_blank") LONG ABSTRACT

.card

	.top.flex

		.info

			h1 GoalKick &mdash; A Goal Scheduling Application employing intelligence automation
			p Application built and pitched as part of the Business Pitch in the The Indus Entrepreneurs (TiE) The Young Entrepreneur Program. The app helps in maintaining personal and professional targets and finding time for new and pre-existing goals customized to the user's schedule.

		.thumbnail

			img(src="/assets/img/projects_goalkick.png")

	.bottom.flex

		a.tag(href="/assets/docs/TYE PRESENTATION.pdf" target="_blank") SLIDES
