h1 Projects

.card

	.top.flex

		.info

			h1 Decentralizing Aadhaar, India's Identity Platform, using Blockchain
			p Id commodo incididunt esse veniam quis consequat. Fugiat magna cupidatat ex veniam eu labore proident adipisicing excepteur culpa dolor. Do aliquip ullamco non incididunt qui deserunt amet. Mollit duis nisi ex pariatur sit excepteur ullamco. Voluptate exercitation laborum sit eiusmod incididunt dolor ipsum culpa aliqua id.

		.thumbnail

			img(src="http://lorempixel.com/300/200/sports")

	.bottom.flex

		a.tag(href="/assets/docs/blockchain_abstract.pdf" target="_blank") Long Abstract
		a.tag(href="/assets/docs/Blockchain Research Paper.pdf" target="_blank") Paper

.card

	.top.flex

		.info

			h1 Natural Language Processing in an Indian Context
			p Laborum deserunt anim cupidatat do consequat eiusmod Lorem aute. Enim esse aute exercitation ex anim incididunt qui irure et ipsum culpa pariatur excepteur sunt. Pariatur Lorem deserunt et magna labore Lorem elit cupidatat. Lorem consequat pariatur dolor consequat.

		.thumbnail

			img(src="http://lorempixel.com/300/200/sports")

	.bottom.flex

		a.tag(href="/assets/docs/NLP_abstract.pdf" target="_blank") Long Abstract

.card

	.top.flex

		.info

			h1 GoalKick &mdash; A Goal Scheduling Application employing intelligence automation
			p Laborum deserunt anim cupidatat do consequat eiusmod Lorem aute. Enim esse aute exercitation ex anim incididunt qui irure et ipsum culpa pariatur excepteur sunt. Pariatur Lorem deserunt et magna labore Lorem elit cupidatat. Lorem consequat pariatur dolor consequat.

		.thumbnail

			img(src="http://lorempixel.com/300/200/sports")

	.bottom.flex

		a.tag(href="/assets/docs/TYE PRESENTATION.pdf" target="_blank") Slides
