h1 Projects

.card

	.top.flex

		.info

			h1 Lorem Ipsum
			p Laborum deserunt anim cupidatat do consequat eiusmod Lorem aute. Enim esse aute exercitation ex anim incididunt qui irure et ipsum culpa pariatur excepteur sunt. Pariatur Lorem deserunt et magna labore Lorem elit cupidatat. Lorem consequat pariatur dolor consequat.

		.thumbnail

			img(src="http://lorempixel.com/300/200/sports")

	.bottom.flex

		.tag Hello
		.tag World
		.tag Foo
		.tag Bar

.card

	.top.flex

		.info

			h1 Lorem Ipsum
			p Laborum deserunt anim cupidatat do consequat eiusmod Lorem aute. Enim esse aute exercitation ex anim incididunt qui irure et ipsum culpa pariatur excepteur sunt. Pariatur Lorem deserunt et magna labore Lorem elit cupidatat. Lorem consequat pariatur dolor consequat.

		.thumbnail

			img(src="http://lorempixel.com/300/200/sports")

	.bottom.flex

		.tag Hello
		.tag World
		.tag Foo
		.tag Bar

