@require "imports/base"

.container
	width 90%
	max-width 850px
	margin 0 auto 0 auto
	display: flex
	flex-direction: column
	justify-content: flex-start

	section
		margin 4% 0

		> h1
			font-family "Unique"
			font-size 2rem
			font-weight 100

	footer
		padding: 5vh 0
		border-top: 1px solid #ddd

		p
			text-align: center
			color: #333
			letter-spacing: 0.5px

			strong
				font-weight: 600

			a
				text-decoration: none
				color: #2ec57d

	@import "imports/navbar"
	@import "imports/sections/*"

@import "imports/color-mode"
