@require "imports/base"

.container
	width 90%
	max-width 850px
	margin 0 auto 0 auto

	section
		margin 8% 0

		> h1
			font-family "Unique"
			font-size 2rem
			font-weight 100

	@import "imports/navbar"
	@import "imports/sections/*"

@import "imports/color-mode"
